*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-weight: 400;
}
header{
    width: 100%;
    height: 10vh;
}
header div{
    height: 100%;
    width: 49%;
    display: inline-block;
    margin: 1em 0;
}
.logo h1{
    font-weight: 500;
    margin-left: 3em;    
}
.navbar ul{
    display: flex;
    justify-content: center;
}
.navbar ul li{
    padding: 0 .6em;
    list-style-type: none;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}
.middiv{
    width: 100%;
    text-align: center;
}
.middiv h2{
    font-size: 3em;
    padding: 1.5em 0 .6em 0;
}
.middiv p{
    width: 40%;
    margin: 0 auto;
}
.middiv button{
    padding: 1em 4em;
    background-color: palevioletred;
    border: none;
    border-radius: 3px;
    margin: 2.2em 0;
}
.middiv button a{
    text-decoration: none;
    color: white;
}
#midimg{
    margin-top: 5em;
}
#midimg img{
    max-width: 18em;
    padding: 0 .8em;
}
.imgup{
    margin-bottom: 3em;
}
.midtext{
    display: flex;

}
.midtext div{
    width: 31%;
    margin: 0 auto;
    text-align: left;
    padding: 5em 0 5em 10em;

}
.midtext div h2, .midimgtext1 h2, .formdiv div h2{
    font-size: 3rem;
    padding-top: .4em;
}
.midtext div p{
    display: block;
    padding: .5em 0;
}
#firstp {
    margin-top: 3em;
}
.midimgtext{
    display: flex;
}
.midimgtext1{
    width: 31%;
    margin: 0 auto;
    padding: 5em 0 5em 10em;

}
.midimgtext2{
    width: 49%;
}
.midimgtext2 div{
    width: 90%;
    margin: 0 auto;
}
.midtextimg{
    max-width: 30em;
}
.instfeed{
    text-align: center;
}

.instfeedheader{
    text-align: center;
}
.instfeedheader h2{
    font-size: 2em;
    margin: 3.5em 0 1em 0;
}
.instfeedflex{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.instfeedflex img{
    max-width: 16em;
    padding: 2em 1em;
}
.instfeedbutton{
    padding: 1em 4em;
    background-color: palevioletred;
    border: none;
    border-radius: 3px;
    margin: 2.2em 0;
}
.instfeedbutton a{
    text-decoration: none;
    color: white;
}
.formdiv{
    display: flex;
}
.formdiv div{
    width: 31%;
    margin: 0 auto;
    text-align: left;
    padding: 5em 0 5em 10em;
}
#secondp{
    margin-top: 2em;
}
.formdiv form label{
    display: block;
}